.navbar-top-bg{
    background-color: rgb(180, 16, 109) !important;
}
.navbar-bg{
    background-color: rgb(226, 10, 154) !important;
}

.txtcolor{
    color:   rgb(194, 6, 109) !important;
}